body {
  margin: 0;
  font-family: Arial, sans-serif;
}


/* navbar */

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/img1.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}



.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}


.info4 {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/img5.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}

.info2 {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/image01.webp'); 
  background-size: cover;
  background-position: center;
  color: white;
  object-fit: cover;
}


.info4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}



.info2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}



.testo {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
}



.nav-bar {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.nav-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: rgb(178, 170, 170);
}

.nav-bar p {
  width: 50%;
  margin: 0;
  margin-left: 5%;
  font-size: 16px;
}

.nav-bar a:first-of-type {
  margin-left: auto; 
}

.nav-bar a {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  padding-right: 65px; 
}

.nav-bar a:hover{
  color: #b6ffaf;
  transition: color 0.2s ease;
  cursor: pointer;
}


.content {
  max-width: 1200px;
  padding: 20px 65px;
  margin-bottom: 60px;
  color: rgb(213, 213, 213);
}


.content1 {
  padding: 20px 65px;
  max-width: 1200px;
  margin-bottom: 120px;
  color: rgb(213, 213, 213);
}

.content1 h1 {
   font-size: 24px;
   margin: 0;
}

.content p {
  margin-bottom: 60px;
  font-size: 16px;
  font-style: italic;
}

.image {
  display: none;
}





/* paragrafo */

.paragrafo{
  width: 100%;
  max-width: 800px;
  padding: 20px 60px;
  margin-top: 50px;
  margin-bottom: 150px;
  line-height: 1.3;
}

.paragrafo2{
  width: 100%;
  max-width: 800px;
  padding: 20px 60px;
  margin-top: 50px;
  margin-bottom: 150px;
  line-height: 1.3;
}


.paragrafo2 li{
  margin-bottom: 15px;
  padding-left: 30px;
}


.paragrafo2 h1{
  margin-bottom: 50px;
  color: #7f012f;
  padding: 20px 40px;
}

.paragrafo h3{
 color: #7f012f;
}


.paragrafo li{
  margin-bottom: 10px;
  font-size: 16px;
}

.paragrafo p{
  margin-bottom: 5px;
  line-height: 1.5;
}

.titolo2 h1 a{
  padding: 20px 50px;
  margin-top: 130px;
  color: #7f012f;
 }


.titolo{
 margin-bottom: 100px;

}

.titolo h1 a{
  color: #7f012f;
  font-size: 22px;
  padding: 20px 100px;

 }

 .paragrafo h1{
  color: #7f012f;
  font-size: 22px;
  margin-bottom: 50px;
 }


 .titolo2 h1 a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 

 .titolo a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 




/* card */

.immagini-blocco {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1250px;
  margin: 32px auto;
  gap: 16px;
  padding:  20px 90px ;
}

.card {
  background-color: #430101;
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  margin-bottom: 150px; 
}

.card img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  background-size: cover;
}

.card p a{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;

}

.card p a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}







   


/* immaginegrande */

.immagine-box {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.immagine-box img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;      
  max-height: 550px;
  filter: brightness(60%)     
}

.immagine-box:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}




/* sticky */
/* 
.sticky {
  display: flex;
  gap: 200px;
  max-width: 1500px;
  margin: 0 auto;
  align-items: flex-start;
}

.titolo-sticky {
  flex: 1;
  position: sticky;
  top: 50px;
  width: 100%;
  padding: 20px 100px;
}

.titolo-sticky h1 {
  font-size: 22px;
  color: #7f012f;
  margin: 0;
}

.contenuti-scrollabili {
  flex: 2;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 20px 100px;
  margin-bottom: 170px;
}


.contenuti-scrollabili img {
  height: 300px;
  margin-top: 70px;
  width: 100%;
  max-width: 1400px;
  object-fit: cover;
  display: block;
}

.contenuti-scrollabili p,h2{
  margin-bottom: 20px;
  line-height: 1.5;
  color: #444;
  font-size: 16px;
  font-weight: 500;
}


.contenuti-scrollabili h2{
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 1.5;
  color: #444;
  font-size: 18px;
  font-weight: 900;
  color: #7f012f;
}

.contenuti-scrollabili li{
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 16px;
} */



/* sticky */

.sticky {
  display: flex;
  gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  align-items: flex-start;
  margin-bottom: 170px;
}

.titolo-sticky {
  flex: 1;
  position: sticky;
  top: 50px;
  /* height: fit-content; */
}

.titolo-sticky h1 {
  font-size: 22px;
  color: #7f012f;
  margin: 0;
}

.contenuti-scrollabili {
  flex: 2;
  width: 100%;
  max-width: 600px;
}


.contenuti-scrollabili img {
  height: 400px;
  margin-top: 100px;
  width: 100%;
  max-width: 700px;
  object-fit: cover;
  display: block;
}


.contenuti-scrollabili p,h2{
  margin-bottom: 20px;
  line-height: 1.5;
  color: #444;
  font-size: 16px;
  font-weight: 500;
}


.contenuti-scrollabili h2{
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 1.5;
  color: #444;
  font-size: 18px;
  font-weight: 900;
  color: #7f012f;
}

.contenuti-scrollabili li{
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 16px;
} 





/* footer */

footer{
  max-width: 1450px;
  background-color: #430101;
  padding: 10px;
  color: white;
  margin-top: 20px;
  }
  
  
  
  footer p{
    font-size: 14px;
    padding: 20px;
    color: white;
    padding-left: 90px;
    }
  
















    

    @media (max-width: 768px) {
      /* navbar */

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/img1.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}



.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}


.info4 {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/img5.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}

.info2 {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/image01.webp'); 
  background-size: cover;
  background-position: center;
  color: white;
  object-fit: cover;
}


.info4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}



.info2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}



.testo {
  position: relative;
  z-index: 2;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding-top: 10px;
}


.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}




.nav-bar a {
  text-decoration: none;
  font-size: 14px;
  padding-right: 25px; 
  flex-wrap: wrap;
}

.content {
  width: 100%;
  max-width: 400px;
  padding: 50px 25px;
}


.content1 {
  width: 100%;
  max-width: 450px;
  padding: 50px 25px;
}

.content1 h1 {
   font-size: 22px;
}

.content h1{
   margin-bottom: 30px;
   font-size: 22px;
}

.content p {
  margin-bottom: 60px;
  font-size: 15px;
  font-style: italic;
   margin: 0 auto;
}

.image {
  display: none;
}





/* paragrafo */

.paragrafo{
  width: 100%;
  max-width: 440px;
  padding: 60px 30px;
  margin-bottom: 150px;
  line-height: 1.3;
}

.paragrafo2{
  width: 100%;
  max-width: 440px;
  padding: 60px 30px;
  margin-bottom: 150px;
  line-height: 1.3;
}


.paragrafo2 li{
  margin-bottom: 15px;
}


.paragrafo2 h1{
  margin-bottom: 50px;
  color: #7f012f;
  padding: 20px 40px;
}

.paragrafo h3{
 color: #7f012f;
}


.paragrafo li{
  margin-bottom: 10px;
  font-size: 16px;
}

.paragrafo p{
  margin-bottom: 5px;
  line-height: 1.5;
}

.titolo2 h1 a{
  color: #7f012f;
  font-size: 22px;
  padding: 20px 10px;
 }


.titolo{
 margin-bottom: 100px;

}

.titolo h1 a{
  color: #7f012f;
  font-size: 22px;
  padding: 20px 90px;

 }

 .paragrafo h1{
  color: #7f012f;
  font-size: 22px;
  margin-bottom: 50px;
 }


 .titolo2 h1 a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 

 .titolo a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 




/* card */

    .immagini-blocco{
      grid-template-columns: 1fr;
      flex-direction: column;
      align-items: center;
      padding: 10px 90px;
    }
  
    .card {
      width: 100%;
      max-width: 400px;
      margin-bottom: 50px;
    }

   .card p a{
     font-size: 13px;
    }

.card p a:hover{
  color: #b6ffaf;
  transition: 0.2 color ease;
}



.immagini-blocco{
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.card p a{
 font-size: 13px;
}

.card p a:hover{
color: #b6ffaf;
transition: 0.2 color ease;
}



/* immaginegrande */

.immagine-box {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.immagine-box img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;      
  max-height: 550px;
  filter: brightness(60%)     
}

.immagine-box:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}








/* sticky */




.sticky {
  gap: 50px;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 0px 10px;
  line-height: 1.3;
  margin-bottom: 100px;
}


.contenuti-scrollabili{
  width: 100%;
  max-width: 440px;
  padding:  0px 20px 10px 0px;
  align-items: center;
 
}

.contenuti-scrollabili img{
  margin-bottom: 50px;
  width: 100%;
  max-width: 420px;
  height: 200px;
  margin-top: 60px;

}

.titolo-sticky {
  position: static;
  width: 100%;
  max-width: 440px;
  padding: 0px;
  line-height: 1.3;
}

.sticky h1{
  flex-direction: column;
  font-size: 22px;
  
}

.contenuti-scrollabili p{
  flex-direction: column;
  font-size: 15px;
  line-height: 1.6;
}

.contenuti-scrollabili h2{
  flex-direction: column;
  font-size: 20px;
  line-height: 1.6;
}


.contenuti-scrollabili li{
  width: 100%;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px; 
}







/* footer */

footer{
  background-color: #430101;
  padding: 10px;
  color: white;
  margin-top: 20px;
  }
  
  
  
  footer p{
    font-size: 14px;
    padding: 20px;
    color: white;
    padding-left: 50px;
    }
  
    }
      





    



    @media (max-width: 480px) {
      /* navbar */

      .info {
        position: relative;
        width: 100%;
        height: 500px;
        background-image: url('../img/img1.jpg'); 
        background-size: cover;
        background-position: center;
        color: white;
      }
      
      
      
      .info::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); 
        z-index: 1;
      }
      
      
      .info4 {
        position: relative;
        width: 100%;
        height: 500px;
        background-image: url('../img/img5.jpg'); 
        background-size: cover;
        background-position: center;
        color: white;
      }
      
      .info2 {
        position: relative;
        width: 100%;
        height: 500px;
        background-image: url('../img/image01.webp'); 
        background-size: cover;
        background-position: center;
        color: white;
        object-fit: cover;
      }
      
      
      .info4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); 
        z-index: 1;
      }
      
      
      
      .info2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        z-index: 1;
      }
      
      
      
      .testo {
        position: relative;
        z-index: 2;
        max-width: 450px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        padding-top: 10px;
      }
      
      
      
      .nav-bar {
        display: flex;
        align-items: flex-start;
        padding-bottom: 15px;
        position: relative;
      }
      
      .nav-bar::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 220px;
        transform: translateX(-50%);
        width: 100%;
        max-width: 440px;
        height: 1px;
        background-color: rgb(178, 170, 170);
      }
      
      .nav-bar p {
        width: 100%;
        max-width: 440px;
        margin: 0;
      }
      
      .nav-bar a:first-of-type {
        margin-left: auto; 
      }
      
      .nav-bar a {
        color: rgb(213, 213, 213);
        text-decoration: none;
        font-size: 13px;
        margin: 0;
        padding-right: 20px; 
      }
      
      .nav-bar a:hover{
        color: #b6ffaf;
        transition: color 0.2s ease;
        cursor: pointer;
      }
      


.content {
  width: 100%;
  max-width: 440px;
  padding: 60px 0;
}


.content1 {
  width: 100%;
  max-width: 440px;
  padding: 30px 20px;
}

.content1 h1 {
   font-size: 22px;
}

.content h1{
   margin-bottom: 30px;
   font-size: 22px;
}

.content p {
  margin-bottom: 60px;
  font-size: 15px;
  font-style: italic;
   margin: 0 auto;
}

.image {
  display: none;
}





/* paragrafo */

.paragrafo{
  width: 100%;
  max-width: 440px;
  padding: 20px 20px;
  margin-bottom: 150px;
  line-height: 1.3;
}

.paragrafo2{
  width: 100%;
  max-width: 420px;
  padding: 20px 20px;
  margin-bottom: 150px;
  line-height: 1.3;
}


.paragrafo2 li{
  margin-bottom: 15px;
}


.paragrafo2 h1{
  margin-bottom: 50px;
  color: #7f012f;
  padding: 20px 40px;
}

.paragrafo h3{
 color: #7f012f;
}


.paragrafo li{
  margin-bottom: 10px;
  font-size: 15px;
}

.paragrafo p{
  margin-bottom: 5px;
  line-height: 1.5;
}

.titolo2 h1 a{
  color: #7f012f;
  font-size: 22px;
  padding: 20px 5px;
 }


.titolo{
 margin-bottom: 100px;

}

.titolo h1 a{
  color: #7f012f;
  font-size: 22px;
  padding: 20px 60px;

 }

 .paragrafo h1{
  color: #7f012f;
  font-size: 22px;
  margin-bottom: 50px;
 }


 .titolo2 h1 a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 

 .titolo a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 




/* card */

    .immagini-blocco{
      flex-direction: column;
      align-items: center;
      padding: 10px 0px;
    }
  
    .card {
      width: 100%;
      max-width: 400px;
      margin-bottom: 20px;
    }

   .card p a{
     font-size: 15px;
    }

   .card p a:hover{
     color: #b6ffaf;
     transition: 0.2 color ease;
    }



.immagini-blocco{
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.card p a{
 font-size: 15px;
}

.card p a:hover{
color: #b6ffaf;
transition: 0.2 color ease;
}



   


/* immaginegrande */

.immagine-box {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.immagine-box img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;      
  max-height: 550px;
  filter: brightness(60%)     
}

.immagine-box:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}








/* sticky */

.sticky {
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 0px 10px;
  line-height: 1.3;
}


.contenuti-scrollabili{
  width: 100%;
  max-width: 440px;
  padding:  0px 20px 10px 0px;
  align-items: center;
 
}

.contenuti-scrollabili img{
  margin-bottom: 70px;
  width: 100%;
  max-width: 420px;
  height: 200px;
  
}

.titolo-sticky {
  position: static;
  width: 100%;
  max-width: 440px;
  padding: 0px 10px;
  line-height: 1.3;
}

.sticky h1{
  flex-direction: column;
  font-size: 22px;
  
}

.contenuti-scrollabili p{
  flex-direction: column;
  font-size: 14px;
  line-height: 1.6;
}

.contenuti-scrollabili h2{
  flex-direction: column;
  font-size: 20px;
  line-height: 1.6;
}


.contenuti-scrollabili li{
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 15px; 
}







/* footer */

footer{
  background-color: #430101;
  padding: 10px;
  color: white;
  margin-top: 20px;
  }
  
  
  
  footer p{
    font-size: 14px;
    padding: 20px;
    color: white;
    padding-left: 40px;
    }
  
    }
      