
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.contenitore {
max-width: 1500px;
}



/* navbar */

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/img1.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}



.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}


.info4 {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/img5.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}

.info2 {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url('../img/image01.webp'); 
  background-size: cover;
  background-position: center;
  color: white;
  object-fit: cover;
}


.info4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 1;
}



.info2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}



.testo-bar {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
}



.nav-bar {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.nav-bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: rgb(178, 170, 170);
}

.nav-bar p {
  width: 100%;
  margin: 0;
  margin-left: 5%; 
  font-size: 16px;
}

.nav-bar a:first-of-type {
  margin-left: auto; 
}

.nav-bar a {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 16px;
  margin: 0;
  margin-right: 5%; 

}

.nav-bar a:hover{
  text-decoration: underline ;
  color: #b6ffaf;
  cursor: pointer;
  transition:  0.2s ease-in;

}


.content {
  max-width: 700px;
  padding: 20px 70px;
  margin-bottom: 60px;
  color: rgb(213, 213, 213);
}


.content1 {
  max-width: 700px;
  padding: 20px 70px;
  margin-bottom: 120px;
  color: rgb(213, 213, 213);
}

.content1 h1,.content h1 {
   font-size: 26px;
   margin: 0;
   margin-bottom: 15px;
}

.content p {
  margin-bottom: 60px;
  font-size: 16px;
  font-style: italic;
}

.image {
  display: none;
}





/* paragrafo */

.contenitore .testo{
  width: 100%;
  max-width: 800px;
  margin-top: 90px;
  margin-bottom: 100px;
  line-height: 1.3;
  padding: 20px 110px;
}

.contenitore .testo2{
  width: 100%;
  max-width: 700px;
  margin-top: 90px;
  margin-bottom: 150px;
  line-height: 1.3;
  padding: 20px 110px;
}

.contenitore .testo3{
  width: 100%;
  max-width: 700px;
  margin-top: 90px;
  margin-bottom: 150px;
  line-height: 1.3;
  padding: 20px 110px;
}


.contenitore .titolo{
  width: 100%;
  max-width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 110px;
}


.testo3 li{
  margin-bottom: 15px;
  font-size: 18px;
}

.testo3 h1{
  font-size: 26px;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #7f012f;
}

.testo h3{
  margin-bottom: 40px;
  color: #7f012f;
  font-size: 22px;
}

.testo h4{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
  color: #7f012f;
}

.testo p{
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
}

.testo li{
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.titolo2 h1 a{
  max-width: 700px;
  padding: 20px 80px; 
  margin-top: 130px;
  color: #7f012f;
 }


.titolo{
 margin-bottom: 20px;
 max-width: 700px;
 padding: 20px 80px; 
 margin-top: 130px;
 color: #7f012f;
}

.titolo h1 a{
  color: #7f012f;
  font-size: 24px;
 }

 .testo2 h1 {
    max-width: 700px;
    padding: 20px 30px; 
    margin-top: 110px;
    color: #7f012f;
    font-size: 24px;
    margin-bottom: 60px;
 }


 .titolo2 h1 a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 

 .titolo a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 







/* card */

.blocco-immagine{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 32px auto;
  gap: 16px;
  padding: 20px 40px ;
}

.card {
  background-color: #430101;
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  margin-bottom: 50px; 
  padding-bottom: 50px;
}



.card img {
  max-width: 400px;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  background-size: cover;
  padding-bottom: 20px;

}

.card p a{
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-top: 20px;  
}

.card p a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}












/* immaginegrande */

.immagine-box {
  width: 100%;         
  overflow: hidden;
  margin-top: 40px;
}

.immagine-box img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;      
  max-height: 550px;
  filter: brightness(60%)     
}

.immagine-box:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}









/* sticky */

.sticky {
  display: flex;
  max-width: 1500px;
  align-items: flex-start;
  margin-bottom: 250px;
  padding: 20px 30px;
  gap: 180px

}

.titolo-sticky {
  padding: 10px 85px;
  flex: 1;
  position: sticky;
  top: 50px;
  width: 100%;
  /* height: fit-content; */
}

.titolo-sticky h1 {
  font-size: 24px;
  color: #7f012f;
}

.contenuti-scrollabili {
  flex: 2;
  width: 100%;
}


.contenuti-scrollabili h2,p,li{
  width: 100%;
  max-width: 600px;
}

.contenuti-scrollabili img {
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin-top: 100px;
  object-fit: cover;
  display: block;
}

.contenuti-scrollabili p{
  margin-bottom: 20px;
  line-height: 1.6;
  color: #444;
  font-size: 18px;
  font-weight: 500;
}


.contenuti-scrollabili h2{
  margin-bottom: 30px;
  margin-top: 30px;
  color: #444;
  font-size: 22px;
  font-weight: 900;
  color: #7f012f;
}

.contenuti-scrollabili li{
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 18px;
}






/* footer */

footer{
  background-color: #430101;
  padding: 40px;
  color: white;
  margin-top: 150px;
  }
  
  
  
  footer p{
    font-size: 15px;
    padding: 20px;
    color: white;
    margin-left: 40px;
    }
  















/* responsive */


@media (max-width: 768px) {



  .nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }


  .testo-bar {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 25px;
    max-width: 700px;
  }
  
  
.nav-bar p {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  padding-left: 30px;
}

.nav-bar a:first-of-type {
  margin-left: auto; 
}

.nav-bar a {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 15px;
  margin: 0;
  padding-right: 30px;
}

.nav-bar a:hover{
  color: #b6ffaf;
  transition: color 0.2s ease;
  cursor: pointer;
}



  
.content {
  max-width: 450px;
  padding: 20px 30px;
  margin-bottom: 50px;
  color: rgb(213, 213, 213);
}


.content1 {
  max-width: 450px;
  padding: 20px 30px;
  margin-bottom: 110px;
  color: rgb(213, 213, 213);
}

.content1 h1,.content h1 {
   font-size: 22px;
   margin: 0;
   margin-bottom: 20px;
}

.content p {
  margin-bottom: 60px;
  font-size: 14px;
  font-style: italic;
}
  
.contenitore .testo3{
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  margin-top: 90px;
  margin-bottom: 100px;
  line-height: 1.3;
  padding: 20px 30px;
}

.contenitore .testo{
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  margin-top: 90px;
  margin-bottom: 100px;
  line-height: 1.3;
  padding: 20px 30px;
}



.contenitore .titolo{
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  margin-top: 90px;
  margin-bottom: 40px;
}


.testo2 h1 a{
  font-size: 22px;
  padding: 20px 30px;
}

.testo3 li{
  margin-bottom: 15px;
  font-size: 16px;
  padding-left: 5px;
}



.testo h4{
  margin-bottom: 30px;
  font-size: 20px;
  color: #7f012f;
}

.testo h3{
  font-size: 22px;
}


.testo p{
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 1.5;
}

.testo li{
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.5;
}


 .titolo h1 a{
  margin-top: 60px;
  color: #7f012f;
  font-size: 22px;
 }




.titolo{
 margin-bottom: 10px;
 max-width: 400px;
 margin-top: 100px;
 color: #7f012f;
}



 .titolo2 h1 a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 

 .titolo a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 






  .sticky {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    max-width: 450px;
    margin: 0 auto;
    gap: 0;
  }


  .titolo-sticky{
    max-width: 440px;
    padding: 10px 2px;
    margin-bottom: 5px;
  }

  .contenuti-scrollabili li,p,h2{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  .contenuti-scrollabili img{
    flex-direction: column;
    background-size: cover;
    height: 300px;
    object-fit: cover;
    background-size: cover;
    margin-bottom: 200px;

  }

  .titolo-sticky {
    max-width: 400px;
    position: static;
    margin-left: 0;
  }
  
  .sticky h1{
    margin-bottom: 10px;
    flex-direction: column;
    font-size: 22px;
    font-weight: 800;

  }

  .contenuti-scrollabili p{
    flex-direction: column;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;      
  }

  .contenuti-scrollabili h2{
    flex-direction: column;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px; 
    font-weight: 700;

  }


  .contenuti-scrollabili li{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px; 
    padding-left: 10px;
  }

  




/* card */

.blocco-immagine{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 32px auto;
  gap: 16px;
  padding:  20px 90px ;
  margin-bottom: 100px;
}

.card {
  background-color: #430101;
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  margin-bottom: 30px; 
  padding-bottom: 50px;
}



.card img {
  max-width: 550px;
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  background-size: cover;
  padding-bottom: 25px;

}

.card p a{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-top: 20px;  
}

.card p a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}




footer p{
  font-size: 14px;
  margin-left: 20px;
  font-weight: 600;
}

}









   




@media (max-width: 480px) {
 



  .info, .info::before,.info2,.info2::before,.info4::before,.info4 {
    height: 400px;
  }
  
 

  .nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
  }


  .testo-bar {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
  }
  
  
.nav-bar p {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  padding-left: 5%;
}

.nav-bar a:first-of-type {
  margin-left: auto; 
}

.nav-bar a {
  color: rgb(213, 213, 213);
  text-decoration: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
  padding-right: 5%;
  flex-wrap: wrap;
}


  
.content {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 50px;
  color: rgb(213, 213, 213);
}


.content1 {
  width: 300px;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 110px;
  color: rgb(213, 213, 213);
  padding: 0;
}

.content1 h1,.content h1 {
   font-size: 20px;
   margin: 0;
   margin-bottom: 20px;
}

.content p {
  margin-bottom: 60px;
  font-size: 14px;
  font-style: italic;
}
  


.contenitore .testo{
  margin: 0 auto;
  width: 300px;
  margin-top: 90px;
  margin-bottom: 100px;
  line-height: 1.3;
  padding: 0;
}


.contenitore .titolo{
  margin: 0;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 75px;
}

.contenitore .testo2{
  width: 300px;
  margin-top: 90px;
  margin-bottom: 100px;
  line-height: 1.3;
  padding: 0;
}

.contenitore .testo3{
  margin: 0 auto;
  width: 300px;
  margin-top: 90px;
  margin-bottom: 150px;
  line-height: 1.3;
  padding: 0;
}


.testo2 h1 a{
  font-size: 20px;
}

.testo3 li{
  margin-bottom: 15px;
  font-size: 15px;
  padding: 0;
}


.testo3 h1{
  font-size: 20px;
  margin-bottom: 30px;
}

.testo2 h1 {
  font-size: 18px;
}

.testo h4{
  margin-bottom: 30px;
  font-size: 16px;
  color: #7f012f;
}

.testo h3{
  font-size: 18px;
}


.testo p{
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 1.5;
}

.testo li{
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.5;
}


 .titolo h1 a{
  margin-top: 60px;
  color: #7f012f;
  font-size: 18px;
 }




 .titolo2 h1 a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 

 .titolo a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
} 






  .sticky {
    margin: 0 auto;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    gap: 0;
    padding: 0;
  }


  .titolo-sticky{
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;

  }

  .contenuti-scrollabili li,p,h2{
    margin: 0 auto;
    padding: 0;

  }

  .contenuti-scrollabili img{
    margin: 0 auto;
    flex-direction: column;
    background-size: cover;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    margin-bottom: 120px;
    margin-top: 50px;
    padding: 0;

  }

  .titolo-sticky {
    margin: 0 auto;
    position: static;
    margin-left: 0;
    padding: 0;

  }
  
  .sticky h1{
    margin: 0 auto;
    margin-bottom: 20px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 800;
    padding: 0;

  }

  .contenuti-scrollabili p{
    margin: 0 auto;
    flex-direction: column;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;  
    padding: 0;
    
  }

  .contenuti-scrollabili h2{
    margin: 0 auto;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px; 
    font-weight: 700;
    padding: 0;
  }


  .contenuti-scrollabili li{
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 15px;  
    padding: 0;
   
  }

  




/* card */

.blocco-immagine {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0 auto 100px;
  padding: 0;
}

.card {
  margin: 0 auto;
  background-color: #430101;
  text-align: center;
  font-family: sans-serif;
  border-radius: 10px;
  margin-bottom: 30px; 
  padding-bottom: 50px;
}



.card img {
  margin: 0 auto;
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  background-size: cover;
  padding-bottom: 20px;

}

.card p a{
  margin: 0 auto;
  margin-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  padding-top: 20px;  
}

.card p a:hover{
  color: #b6ffaf; 
  transition: color 0.2s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}

footer{
  margin-top: 170px;
}


footer p{
  padding: 20px 0;
  margin-left: 0;
  font-size: 12px;
  font-weight: 600;
}

}







